.info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

@media only screen and (max-width: 1200px) {
  .cell-icon {
    width: 80px;
  }
}
@media only screen and (max-width: 800px) {
  .cell-icon {
    width: 75px;
  }
}
