.info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}
.table {
  background-color: white;
}
.row {
  padding: 0;
  max-height: 90px;
}
.button-cell {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.collapse-icon {
  padding: 0;
  background-color: blue;
}
.cell-icon {
  width: 6rem;
  padding: 0.5rem;
}
.row-title {
  font-size: 2.25rem;
}

.collapse-section {
  display: flex;
  flex-direction: column;
  margin-inline: 1vw;
  padding: 2rem;
}

@media only screen and (max-width: 700px) {
  .collapse-section {
    margin: 0;
    padding: 0;
  }
}
