.navbar {
  display: flex;
  align-items: center;
  background-color: #84008F;
  height: 100%;
}

.redirects {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.text {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-inline-start: 3rem;
}
