.content-container {
  display: flex;
  flex-direction: column;
  padding-inline: 5%;
  gap: 2.5rem;
}
.content-block {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}
.title {
  width: 100%;
  font-size: 3.25rem;
  text-align: center;
}
.subtitle {
  font-size: 2.25rem;
  color: #91009e;
  border-bottom: 1px solid #91009e;
}
.paragraph {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.8;
  gap: 1rem;
  font-size: 1.5rem;
  margin-inline: 2%;
}
.list {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  text-align: left;
  line-height: 1.4;
  margin: 0;
}
.unordered-list {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  text-align: left;
  margin: 0;
}
