.content-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-inline: max(4rem, 8vw);
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content-block {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}
.title {
  width: 100%;
  font-size: 5rem;
  text-align: left;
}
.subtitle {
  padding-top: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.1;
  color: #91009e;
  border-bottom: 1px solid #91009e;
  text-transform: uppercase;
}
.part-title {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.2;
  color: #65006e;
  text-transform: capitalize;
}
blockquote {
  font-size: 1.125rem;
  font-style: italic;
  margin-inline: 0;
  padding-left: 1.75rem;
  border-left: 2px solid #dddddd;
}
.paragraph {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.5;
  gap: 1rem;
  font-size: 1.5rem;
  margin-inline: 2%;
  padding-top: 1rem;
}
ol {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  text-align: left;
  line-height: 1.4;
  margin: 0;
}
ul {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  text-align: left;
  margin: 0;
}
.bold {
  font-size: 1.75rem;
  font-weight: 600;
}
a {
  /* text-decoration: none; */
  font-weight: 500;
  color: #91009e;
}
:target {
  scroll-margin-top: 100px;
}
@media only screen and (max-width: 600px) {
  .content-container {
    padding-inline: 1rem;
  }
}
