.article-image-container {
  float: right;
  padding-bottom: 2rem;
}
.article-image {
  float: right;
  padding-left: 2rem;
  width: 650px;
  height: auto;
  margin: 0;
}
.member-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  padding-inline: 1rem;
}

@media only screen and (max-width: 1200px) {
  .article-image-container {
    float: none;
  }
  .article-image {
    width: 100%;
    padding-left: 0;
  }
}
