.content-container {
  display: flex;
  flex-direction: column;
  padding-inline: 5%;
  gap: 4rem;
}
.content-block {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}
.title {
  width: 100%;
  font-size: 2.5rem;
}
.subtitle {
  font-size: 2rem;
  color: #84008f;
  border-bottom: 1px solid #84008f;
}
.paragraph {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.8;
  gap: 1.5rem;
  font-size: 1.25rem;
}
.article-image-container {
  float: right;
  padding-bottom: 2rem;
}
.article-image {
  float: right;
  padding-left: 2rem;
  width: 650px;
  height: auto;
  margin: 0;
}
.member-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  padding-inline: 1rem;
}

@media only screen and (max-width: 1200px) {
  .article-image-container {
    float: none;
  }
  .article-image {
    width: 100%;
    padding-left: 0;
  }
}
