.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  background-color: #91009e;
  height: 60px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid white;
  z-index: 10;
}
.sign-up {
  margin-right: 2rem;
}
.text {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-inline: 1rem;
}
.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.burger {
  position: absolute;
  left: 1rem;
}
.menu-icon {
  width: 40px;
}
.menu-title {
  color: white;
  font-size: 24px;
}
.drawer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  width: 320px;
  background-color: #91009e;
}
.linkGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #aa62b1;
}
.redirect {
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #e5e5e5;
}
.redirect:hover {
  background-color: #bd77c4;
  color: #ffffff;
}

@media only screen and (max-width: 650px) {
  .burger {
    position: relative;
    left: 0;
  }
}
