.footer {
  margin-bottom: 0;
}
.footer-content {
  color: white;
  background-color: #232629;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top:2rem;
  padding-bottom: 8rem;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  flex-wrap: wrap;
  gap: 1rem;
}
.bars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: fit-content;
  gap: 1rem;
}
.other-section {
  margin-inline: 4rem;
}
.redirect-section {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
