.visit {
  width: 100%;
  top: 0;
  object-fit: cover;
  position: sticky;
  height: 100vh;
  z-index: -1000;
}
.image-content {
  position: absolute;
  width: 80%;
  top: 25rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.fancy-text {
  font-size: 6rem;
}
@media only screen and (max-width: 1200px) {
  .visit-text {
    font-size: 3rem;
  }
  .fancy-text {
    font-size: 5rem;
  }
  .button-area {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .image-content {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 500px) {
  .image-content {
    margin-top: 6rem;
  }
}