.visit {
  width: 100%;
  top: 0;
  object-fit: cover;
  position: sticky;
  height: 100vh;
  z-index: -1000;
}
.image-content {
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
.visit-text {
  font-size: max(6vw, 4rem);
  text-align: center;
  backdrop-filter: blur(2px);
}
.fancy-text {
  font-size: max(7vw, 6rem);
}
.button-area {
  margin-top: 0;
  height:fit-content
}
@media only screen and (max-width: 1200px) {
  .button-area {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
@media only screen and (max-width: 405px) {
  .image-content {
    margin-top: 120px;
  }
}
